
header{
    padding-left: 300px;
}

ul .logo{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.padding-300{
    padding-left: 300px;
}